#carousel{
    display: flex;
    height: 30vh;
}

#carousel-content {
  width: fit-content;
  margin: auto;
}

#carousel-name {
  color: white;
  margin: 2rem 0 0 0;
}
#movie-card-container {
  display: flex;
}

.button-container{
    z-index: 100000;
    background-color: white;
    width: 5%;
    height: max-content;

}

